@import '@styles/variables/colors.sass';
@import '@styles/variables/sizes.sass';
@import '@styles/mixins/geometry.scss';

.fallback {
    &-container {
        background-color: $-my-skin-color;
        border-radius: 50%;
        @include sameWidthAndHeight($-profile-circle-size);

        /* Necessary to make the image fit the container from behind it, 
        so it doesn't look like a square on top of a circle. */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* Necessary to make alt text fit the container. */
        padding: 20px;
        img::first-line {
            font-size: xx-large;
        }
        img {
            line-height: 25px;
            text-align: center;
            word-break: break-word;
            font-size: large;
            font-variant-position: sub;
            /* so the image doesn't look like a square inside a circle. */
            @include sameWidthAndHeight($-profile-circle-size
              + $-profile-circle-padding * 2
              + 5 /* image has a black line on the left, 5px removes it. */
            );
        }
    }
}
