@import "@styles/mixins/geometry.scss";

.styles {
    &-background-fallback {
        position: absolute;
        @include sameWidthAndHeight(100%);
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}
